*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
body{
	width: 100%;
}
#main{
	width: 100%;
}
#menu{
	height: 10%;
	background-color:#101010;	
}
#menu li{
	list-style-type: none;
	float: left;
	font-size: 14px;
	margin-left: 50%;
}
.logo{
	color: white;
	font-size: 24px;
}
#menu a{
	color: #9d9d9d;
    position: relative;
    display: block;
}
